.row.pb-1.has-border-top.mt-3.pt-3
    .col-md-12
        h3 {{ translate.trans('pages.feedback_title') }}
    .col-md-12.mb-3
        p.mb-0.text-muted {{ translate.trans('pages.feedback_desc') }}
    .col-md-12
        button.btn.btn-primary((click)='openIssues()')
            i.fab.fa-fw.fa-github.mr-2
            span {{ translate.trans('pages.feedback_btn') }}
