.row.pb-1.has-border-top.mt-3.pt-3
    .col-md-12
        h3 {{ translate.trans('pages.changelog_title') }}
    .col-md-12.mb-3
        p.mb-0.text-muted {{ translate.trans('pages.changelog_desc') }}
    .col-md-12
        table.table.table-striped.table-bordered.table-hover.table-sm
            thead
                tr
                    th Version
                    th Date
                    th Description
            tbody
                tr(*ngFor='let entry of entries')
                    td {{ entry.version }}
                    td {{ entry.date }}
                    td
                        p.mb-0(*ngFor='let item of entry.items') {{ itemText(item) }}
    .col-md-12.pt-3.text-right
        button.btn.btn-outline-primary((click)='openPluginPage()')
            i.fab.fa-fw.fa-github.mr-2
            span GitHub
