.row.pb-1.has-border-top.mt-3.pt-3
    .col-md-12
        h3 {{ translate.trans('pages.updates_title') }}
    .col-md-12.mb-3
        p.mb-0
            span.text-muted {{ translate.trans('pages.updates_current') }}:
            span.ml-2 {{ version }}

    .col-md-12
        button.btn.btn-primary((click)='checkForPluginVersion()', [disabled]='isProcessingRequest')
            i.fas.fa-sync.mr-2(*ngIf='!isProcessingRequest')
            span.spinner-border.spinner-border-sm.mr-2(*ngIf='isProcessingRequest')
            span {{ isProcessingRequest ? translate.trans('pages.updates_processing') : translate.trans('pages.updates_check_btn') }}

    .col-md-12.mt-3(*ngIf='isUpdateAvailable')
        .alert.alert-warning.mb-0
            p.mb-1 {{ translate.trans('pages.updates_available') }}
            p.mb-0
                strong {{ translate.trans('pages.updates_latest') }}:
                span.ml-1 {{ latestVersion }}

    .col-md-12.mt-3(*ngIf='noUpdateAvailable')
        .alert.alert-success.mb-0 {{ translate.trans('pages.updates_up_to_date') }}

    .col-md-12.mt-3(*ngIf='errorCheckForUpdates')
        .alert.alert-danger.mb-0 {{ translate.trans('pages.updates_error') }}
